In [1]:
x= int(input("enter the number "))
if x>10:
    print(f"{x} is greater than 10")

enter the number 34
34 is greater than 10

In [4]:
x= int(input("enter the number "))
if x>10:
    print(f"{x} is greater than 10")
else:
    print(f"{x} is less than 10")

enter the number 8
8 is less than 10

In [6]:
x= int(input("enter a number"))
if x>10:
    print(f"{x} is greater than 10")
    print("iam not in d code")
else:
    print(f"{x} is lesser than 10")

print("iam in the code")

enter a number5
5 is lesser than 10
iam in the code

In [8]:
x= int(input("enter a number"))
if x>10:
    print(f"{x} is greater than 10")
elif x==10:
    print(f"{x} is equal to 10")
else:
    print(f"{x} is lesser than 10")

enter a number3.50

ValueError: invalid literal for int() with base 10: '3.50'

In [13]:
x= int(input("enter a number"))

if x>10:
    print(f"{x} is greater than 10")
    if x>20:
        print(f"{x} is greater than 10 and also greater than 1st")
elif x==20:
    print(f"{x} is equal to 20")
else:
    print(f"{x} is lesser than 10")

enter a number5
5 is lesser than 10

In [19]:
x= int(input("enter the number"))
if x%2 ==0:
    print(f"{x} is even")
else:
    print(f"{x} is odd")

enter the number-24
-24 is even

In [21]:
15%2

1

SyntaxError: invalid syntax (4195703356.py, line 1)

In [31]:
age= int(input("enter the age "))
if age<10:
    print (f"{age} you are child")
elif age<20:
    print(f"{age} you are a adult")
    if age>= 19:
        print(f"{age} you can vote")
elif age<30:
    print("f{age} you are a man")
else:
    print("uncle")
    
print("age categorization has done successfully")

enter the age 19
19 you are a adult
19 you can vote
age categorization has done successfully

In [1]:
l=[23,44,67,99,101]
print(l)

[23, 44, 67, 99, 101]

In [6]:
l1=[]
for i in l:
    l1.append(i+1)

In [7]:
l1

[24, 45, 68, 100, 102]

In [8]:
l

[23, 44, 67, 99, 101]

In [9]:
l.append(143)

In [10]:
l

[23, 44, 67, 99, 101, 143]

In [11]:
l.append('india')

In [14]:
l

[23, 44, 67, 99, 101, 143, 'india']

TypeError: can only concatenate str (not "int") to str

In [15]:
l

[23, 44, 67, 99, 101, 143, 'india']

In [16]:
l1=[]
for i in l:
    l1.append(i+1)

TypeError: can only concatenate str (not "int") to str

In [17]:
l

[23, 44, 67, 99, 101, 143, 'india']

In [18]:
l=[1,2,3,4,5]

In [19]:
l

[1, 2, 3, 4, 5]

In [20]:
l1=[6,7,8]
for i in l:
    l1.append(i+1)

In [21]:
l

[1, 2, 3, 4, 5]

In [22]:
l1

[6, 7, 8, 2, 3, 4, 5, 6]

In [25]:
l= [sam,tom,navya]

NameError: name 'sam' is not defined

In [26]:
l=['sam','tom','navya']

In [27]:
l

['sam', 'tom', 'navya']

In [28]:
l1=[]
for i in l:
    l1.append(i.upper())

In [29]:
l

['sam', 'tom', 'navya']

In [30]:
l1

['SAM', 'TOM', 'NAVYA']

In [31]:
l=[12,42,88,34,57,89,15,10]

In [32]:
l_even=[]
l_odd=[]
for i in l:
    if i%2 ==0:
        l_even.append(i)
    else:
        l_odd.append(i)

In [33]:
l

[12, 42, 88, 34, 57, 89, 15, 10]

In [34]:
print(l_even)

[12, 42, 88, 34, 10]

In [35]:

print(l_odd)

[57, 89, 15]

In [36]:
l

[12, 42, 88, 34, 57, 89, 15, 10]

In [37]:
l=[12,42,88,34,57,89,'sam','vam',15,10]

In [39]:
l_even=[]
l_odd=[]
l_str=[]
for i in l:
    if type(i)==str:
        l_str.append(i)
    else:
        if i%2== 0:

SyntaxError: invalid syntax (1443218562.py, line 10)

In [40]:
list(range(10,-10))

[]

In [41]:
for i in range(len(l)):

SyntaxError: incomplete input (738854376.py, line 1)

In [1]:
l=[34,67,878,45.67,12322]

In [3]:
for i in l:
    print(i)

34
67
878
45.67
12322

In [7]:
for i in range(200):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [10]:
l= ['tom','cat','peter','mike']

In [11]:
for i in l:
    print(i.upper())
    if i=='peter':
        break
else:
    print("hello i finished loop")

TOM
CAT
PETER

In [12]:
l

['tom', 'cat', 'peter', 'mike']

In [14]:
for i in l:
    print(i.upper())
else:
    print("hello")

TOM
CAT
PETER
MIKE
hello

In [19]:
for i in range(len(l)-1, len(l)-3,-1):
    print(l[i])

mike
peter

In [22]:
for i in l:
    if i== 'peter':
        break
    print(i.upper())
else:
    print('hi both')

TOM
CAT

In [21]:
l

['tom', 'cat', 'peter', 'mike']

In [24]:
for i in l:
    print(i)
    if i=='peter':
        break
    else:
        print('india is great!!')
else:
    print("bharat is great")

tom
india is great!!
cat
india is great!!
peter

In [27]:
for i in l:
    if i== 'peter':
        continue
    print(i.upper())
else:
    print("hello")

TOM
CAT
MIKE
hello

In [26]:
l

['tom', 'cat', 'peter', 'mike']

In [30]:

num= int(input("enter a number "))
fac=1 
for i in range(1,num+1):
  fac=fac * i
print(f"the factorial is {fac}")

enter a number 5
the factorial is 120

In [31]:
n= int(input(' enter the number'))
res = 0
for i in range (1,n+1):
  res= res + i
print(f"the sum is {res}")

 enter the number10
the sum is 55

In [32]:
items=['Juice','Salad','Sandwich','Paratha','Idli Sambar','Dosa','Misal Pav']

price=[100,150,80,180,90,120,50]
for i in zip(items, price):
    print(i)

('Juice', 100)
('Salad', 150)
('Sandwich', 80)
('Paratha', 180)
('Idli Sambar', 90)
('Dosa', 120)
('Misal Pav', 50)

In [1]:
for i in range(1,11):
  for j in range(1,6):
    print(i * j , end=' ' )
  print('\n')

1 2 3 4 5

2 4 6 8 10

3 6 9 12 15

4 8 12 16 20

5 10 15 20 25

6 12 18 24 30

7 14 21 28 35

8 16 24 32 40

9 18 27 36 45

10 20 30 40 50

In [2]:
a=1

while a<10:
    print(a)
    a= a+1

1
2
3
4
5
6
7
8
9

In [7]:
msg= input('enter a command!!')
while (msg!= 'stop'):
    msg =input('enter a command!!')
    print(msg)

enter a command!!run
enter a command!!left
left
enter a command!!run
run
enter a command!!jump
jump
enter a command!!stop
stop

In [8]:
num= int(input('enter the number'))
res=0
cou=1
while(cou<=num):
    res=res+cou
    cou=cou+1
print(f'the sum of {num} numbers from 1 is {res}')

enter the number10
the sum of 10 numbers from 1 is 55

In [6]:
word= input("enter any word !! ")
rev=' '
leng= len(word)
while (leng>0):
    rev=rev + word[leng-1]
    leng=leng-1
print(rev)

enter any word !! vamshi
 ihsmav

In [7]:
len('vamshi')

6

In [ ]:
s="earth"

In [ ]:
s[-1]

In [12]:
n= int(input("enter the number till you want a fibonacci series" ))
a,b=0,1
cou =1

while (cou<=n):
    print (a)
    c=a+b
    a=b
    b=c
    cou= cou+1

enter the number till you want a fibonacci series6
0
1
1
2
3
5

In [15]:
n= int(input("enter the number till you want a fibonacci series " ))
a,b = 0,1
res=1
while (res<=n):
    print(a)
    c=a+b
    a=b
    b=c
    res=res+1

enter the number till you want a fibonacci series 8
0
1
1
2
3
5
8
13

In [1]:
num= int(input("enter the number"))
i=1
while i<=10:
    print(f'{num}*i{i})

SyntaxError: unterminated string literal (detected at line 4) (2809605798.py, line 4)

In [ ]:
word=input("enter a text ")
if word == word[::-1]:
    print(f'{word} is palindrome')
    
else:
    print(f'{word} is not a palindrome')

In [ ]:
i=1
while True:
    if i ==10:
        print('hello vamshi')
        i= i+1

In [2]:
num = int(input("enter the number "))
fac = 1
while True:
    fac = fac * num
    num = num - 1
    if num == 1:
        break
print(f" the factorial is {fac} ")

enter the number 8
 the factorial is 40320

In [3]:
num = int(input("enter the number "))
fac = 1
while num>1:
    fac = fac * num
    num = num - 1
print(f" the factorial is {fac} ")

enter the number 5
 the factorial is 120

In [18]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*', end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [19]:
for i in range(1,7):
    for j in range(1,i+1):
        print('£' , end=' ')
    print(' ')

£
£ £
£ £ £
£ £ £ £
£ £ £ £ £
£ £ £ £ £ £

In [23]:
for i in range(1,6):
    for j in range(6,i,-1):
        print('*' , end=" ")
    print(' ')

* * * * *
* * * *
* * *
* *
*

In [29]:
for i in range(1,11):
    
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [48]:
for i in range(1,6):
    for j in range(6,i,-1):
        print('*', end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [5]:

for i in range(1,6):
    for j in range(6-i):
        print(' ', end=" ")
    for j in range(2 * i -1):
        print('*', end=" ")
    print(" ")

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [6]:
for i in range(6-1,0,-1):
    for j in range(6-1):
        print(" ", end=' ')
    for j in range(2 * i -1):
        print('*', end=' ')
    print(' ')

          * * * * * * * * *
          * * * * * * *
          * * * * *
          * * *
          *

In [5]:
print("vamshi") + 'krishna'

vamshi

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [3]:
def test():
    print('hvd')

In [6]:
test()

hvd

In [8]:
test() + 'vamsi'

hvd

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
s="vamshi krishna"

In [10]:
print(s)

vamshi krishna

In [11]:
s[0:15]

'vamshi krishna'

In [12]:
len(s)

14

In [13]:
len(s) -1

13

In [14]:
s[-1]

'a'

In [15]:
s[::-1]

'anhsirk ihsmav'

In [16]:
s[-1:-10]

''

In [17]:
text= 'canada is west'

In [21]:
text.split('a')

['c', 'n', 'd', ' is west']

In [22]:
l=[1,2,23,344,'vam',True,23.8,'shi' ]

In [24]:
l[(len(l))-1]

'shi'

In [1]:
l.extend(48)

NameError: name 'l' is not defined

In [4]:
print('l')

l

In [3]:
l

NameError: name 'l' is not defined

In [5]:
l=[1,2,23,344,'vam',True,23.8,'shi' ]

In [6]:
l

[1, 2, 23, 344, 'vam', True, 23.8, 'shi']

In [7]:
l.extend('krishna')

In [8]:
print(l)

[1, 2, 23, 344, 'vam', True, 23.8, 'shi', 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [10]:
l.split('*')

AttributeError: 'list' object has no attribute 'split'

In [11]:
l1="canada is west"

In [12]:
print(l1)

canada is west

In [18]:
l2=l1.split(' ')

In [16]:
l2

['canada is west']

In [17]:
l1

'canada is west'

In [19]:
l2

['canada', 'is', 'west']

In [20]:
l1.replace('canada','india')

'india is west'

In [28]:
a=65
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(a),end=' ')
        a=a+1
    print(' ')

A
B C
D E F
G H I J
K L M N O

In [35]:
a=65
for i in range(1,8):
    for j in range(2,i+1):
        print(chr(a), end=' ')
        a=a+1
    print(' ')

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [44]:
str1= input('enter the text= ')
word= str1.split()
l=len(word)

for i in range(0,l):
    if i%2==0:
        word[i]=word[i].capitalize()
    else:
        word[i]=word[i][::-1]
encoded=" ".join(word)
print('The final string is=', encoded)

enter the text= hi how are you
The final string is= Hi woh Are uoy

In [37]:
l=[1,2,23,344,'vam',True,23.8,'shi' ]
print(l)

[1, 2, 23, 344, 'vam', True, 23.8, 'shi']

In [40]:
for i in range(0,5):
    print(l[3])

344
344
344
344
344

In [51]:
str2= input('enter the sentence=')
word=str2.split()
l=len(word)

for i in range(0,l):
    if i%2 ==0:
        word[i]=word[i].capitalize()
    else:
        word[i]=word[i][::-1]
encoded=" ".join(word)
print('the output=', encoded)

enter the sentence=hi are yo okay
the output= Hi era Yo yako

In [52]:
num=int(input('enter a number '))
order=len(str(num))

enter a number 2653

TypeError: 'str' object is not callable

In [53]:
n= int(input("enter the number"))
cou = 1 
while cou<=10:
  print(n)
  n=n+2
  cou=cou+1

enter the number21
21
23
25
27
29
31
33
35
37
39

In [58]:
for i in range(1,6):
    for j in range(1,6-i):
        print('*', end=" ")
    print(" ")

* * * *
* * *
* *
*

In [60]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [61]:
for i in range(1,6):
    for j in range(1,6-i):
        print(j, end=" ")
    print(" ")

1 2 3 4
1 2 3
1 2
1

In [64]:
a=65
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(a), end=" ")
        a=a+1
    print(" ")

A
B C
D E F
G H I J
K L M N O

In [69]:
for i in range(1,6):
    for j in range(1,6-i):
        print(" ",end=' ')
    for k in range(1,i+1):
        print('*', end=' ')
    print(' ')

        *
      * *
    * * *
  * * * *
* * * * *

In [116]:
for i in range(1,6):
    for j in range(1,6-i):
        print(")",end=' ')
    for k in range(1,2*i):
        print('*', end=' ')
    print(' ')

) ) ) ) *
) ) ) * * *
) ) * * * * *
) * * * * * * *
* * * * * * * * *

In [39]:
for i in range(1,8):
    for j in range(1,8-i):
        print(' ',end=' ')
    for k in range(1,2*i):
        print('*', end=' ')
    print(' ')

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [72]:
def test():
    pass

In [73]:
def test1():
    print('hi this is vamshi')

In [75]:
test1()

hi this is vamshi

In [76]:
'vam'+'shi'

'vamshi'

In [80]:
def test2():
    return 'this is me'

test2() + 'krishna'

In [84]:
def test3(a,b):
    return a+b/2

In [85]:
test3(5,7)

8.5

In [89]:
def test4():
    return 12,16,17.3,'true'

In [91]:
test4()= a,b,c,d

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2093357549.py, line 1)

In [92]:
def test5(a,b,c):
    return a+b/c

In [93]:
test5(12,7,5)

13.4

In [99]:
def test6():
    return'hello world '

In [95]:
test6()

'hello world'

In [96]:
type(test6())

str

In [97]:
len(test6())

11

In [100]:
test6()+'vamshi'

'hello world vamshi'

In [106]:
def vam(a,b):
    return(a+b/2)

In [110]:
vam(2,3)

3.5

In [111]:
l

4

In [112]:
m=[12,262,737,'vams','kri','hsb',262,'bjds']

In [113]:
m

[12, 262, 737, 'vams', 'kri', 'hsb', 262, 'bjds']

In [154]:
def vam(n):
    m_str=[]
    m_num=[]
    for i in n:
        if type(i)==str:
            m_str.append(i)
        else:
            m_num.append(i)
    return 'it is a num', m_num,'it is a str', m_str

In [155]:
vam(m)

('it is a num',
 [12, 262, 737, 'vams', 'kri', 'hsb', 262, 'bjds'],
 'it is a str',
 [])

vam()

In [121]:
def test():
    pass

In [124]:
def test1():
    print("hi")

In [125]:
test1()

hi

In [126]:
test1()+'vamshi'

hi

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [131]:
def test2():
    return('hi ')

In [129]:
test2()

'hi'

In [132]:
test2()+'vamshi'

'hi vamshi'

In [138]:
def test3(a,b):
    return a+b

In [169]:
test3(3,9)

12

In [141]:
def vam():
    return 12,45,'sam',87.8

In [143]:
a,b,c,d= vam()

In [144]:
a

12

In [145]:
 def vam():
        return('hello world')

In [146]:
vam()

'hello world'

In [156]:
l=[12,262,737,'vams','kri','hsb',262,'bjds']

In [171]:
def test8(n):
    
    l_str = []
    l_num = []
    for i in n:
        if type(i) == str:
            l_str.append(i)
        else:
            l_num.append(i)
    return 'the string list is', l_str,'the number list is', l_num

In [174]:
test8(l)

('the string list is',
 [],
 'the number list is',
 [12, 262, 737, 'vams', 'kri', 'hsb', 262, 'bjds'])

In [181]:
def test9(*args):
    return  args

In [182]:
test9 (12,13,14,15)

(12, 13, 14, 15)

In [194]:
def is_prime(n):
    
    if n <=1:
        return f'{n} is not a prime number'
    else:
        for i in range(2,n):
            if n%1 == 0:
                return f'{n} is not a prime number'
        return f'{n} is a prime number'

In [191]:

is_prime(3)

'3 is not a prime number'

In [192]:
is_prime(6)

'6 is not a prime number'

In [195]:
is_prime(47)

'47 is not a prime number'

In [196]:
is_prime(3)

'3 is not a prime number'

In [197]:
def is_prime(n):
    
    if n <=1 :
        return f"{n} is not a prime number "
    else:
        for i in range(2,n):
            if n%i == 0:
                return f"{n} is not a prime number "
        return f"{n} is a prime number"

In [198]:
is_prime(3)

'3 is a prime number'

In [199]:
s={}

In [200]:
type(s)

dict

In [201]:
s={23,23,23,8,9,0,'hi','paris',33,90,22}

In [202]:
s

{0, 22, 23, 33, 8, 9, 90, 'hi', 'paris'}

In [203]:
t=(9,839,88)

In [204]:
type(t)

tuple

In [205]:
a={2,3,4,5,6,7,9}
b={12,23,45,6,7,3}

In [206]:
a.intersection(b)

{3, 6, 7}

In [207]:
a.difference(b)

{2, 4, 5, 9}

In [208]:
a.union(b)

{2, 3, 4, 5, 6, 7, 9, 12, 23, 45}

In [209]:
a.discard(b)

In [212]:
d = {"name":'vamshi','age':25 , 'address':'goa'}

In [213]:
d

{'name': 'vamshi', 'age': 25, 'address': 'goa'}

In [214]:
d.keys()

dict_keys(['name', 'age', 'address'])

In [216]:
d.values()

dict_values(['vamshi', 25, 'goa'])

In [217]:
list(d.keys())

['name', 'age', 'address']

In [218]:
d['name']

'vamshi'

In [221]:
l = []
for i in range(10):
    l.append(int(input("enter your number")))

enter your number1
enter your number2
enter your number2
enter your number2
enter your number3
enter your number4
enter your number

ValueError: invalid literal for int() with base 10: ''

In [222]:
l

[1, 2, 2, 2, 3, 4]

In [224]:
l.insert(6,21)

In [225]:
l

[1, 2, 2, 2, 3, 4, 21]

In [227]:
l.append([23,34,45,584])

In [228]:
l

[1, 2, 2, 2, 3, 4, 21, [23, 34, 45, 584]]

In [229]:
len(l)

8

In [230]:
l[len(l)]

IndexError: list index out of range

In [231]:
l[-1]

[23, 34, 45, 584]

In [233]:
l[len(l)-1][-1]

584

In [234]:
t=(1,2,3,4,5,6,7,8,9)

In [235]:
list(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [238]:
l.insert(3,67)

In [239]:
l

[1, 2, 2, 67, 2, 3, 4, 21, [23, 34, 45, 584]]

In [240]:
tuple(l)

(1, 2, 2, 67, 2, 3, 4, 21, [23, 34, 45, 584])

In [241]:
l.index(21)

7

In [242]:
l[-2]

21

In [243]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [244]:
t[2]

3

In [245]:
t[-1]

9

In [246]:
t[-3]

7

In [ ]:
t.index(8)

In [ ]:
hobbies = set()
activities = set()

h= ' '
while h.upper() !='STOP':
    hobbies.add(h)
    h = input('enter your hobbies ')
act = ' '
while act.upper() != 'STOP':
    activities.add(act)
    act= input('enter the activities ')
print(hobbies)
print(activities)

In [11]:
flower_price={'Rose':15,'Lotus':50,'Orchids':60,'Marigold':10,'Sunflower':20}
purchase_qty={}

n = int(input("Enter the types of flower"))
for i in range(n):
    p = input("Enter the flower you want ")
    q = int(input("Enter the quantity you want "))
    purchase_qty[p] = q
    
tot_amt = 0
tot_qty = 0 

for p,q in purchase_qty.items():
    if p in flower_price.keys():
        tot_amt = tot_amt + flower_price[p]*q 
        tot_qty = tot_qty + q 
    else:
        print(p,' is not available ')
        
print(f'You have to pay a total amount of {tot_amt}')
print(f'You have purchased a total quantity of {tot_qty}')

Enter the types of flower5
Enter the flower you want rose
Enter the quantity you want 2
Enter the flower you want lotus
Enter the quantity you want 3
Enter the flower you want orchids
Enter the quantity you want 2
Enter the flower you want rose
Enter the quantity you want 1
Enter the flower you want lotus
Enter the quantity you want 2
rose  is not available
lotus  is not available
orchids  is not available
You have to pay a total amount of 0
You have purchased a total quantity of 0

In [8]:
def fibo(num):
    
    s = [0,1]
    for i in range (2,num):
        s.append(s[i-1] + s[i-2])
    return s

In [9]:
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
student_data=[{'id':1,'name':'Rohan','marks':95}]
def add_data(data):
    if data not in student_data:
        student_data.append(data)
    return student_data.index(data)
print('Hi, please enter the student details for 5 students')
for i in range(5):
  id=int(input("enter your ID "))
  name=input('enter your name ')
  marks=int(input('enter your marks '))
  data={'id':id, 'name':name, 'marks':marks}
  reg_no=add_data(data)
  print(reg_no)

In [ ]:
student_data

In [ ]:
quizDict = {
    'quiz':{
        'math':{
            'q1':{
                'Question': '5 + 7 = ?',
                'Options' : ['10', '11', '12', '13'],
                'Answer' : '12'
            },
            'q2' : {
                "Question" : '12 - 8 = ?',
                'Options' : ['1', '2', '3', '4'],
                'Answer' : '4'
            }
        }
    }
}

mathDict = quizDict['quiz']['math']

for q in mathDict.keys():
    print(mathDict[q]['Question'])
    print("Options: ")
    print(mathDict[q]['Options'])
    answer = int(input())
    
    if answer == int(mathDict[q]['Answer']):
        print("Correct Answer ")
    else:
        print("Incorrect Answer ")

In [13]:
flower_price={'Rose':15,'Lotus':50,'Orchids':60,'Marigold':10,'Sunflower':20}
purchase_qty={'Rose':2,'Marigold':3}

total_amt=0
total_qty=0

for p,q in purchase_qty.items():
    if p in flower_price.keys():
        total_amt= total_amt + flower_price[p]*q
        total_qty= total_qty + q
    else:
        print(p, 'is not available')
print(f' you have to pay total amount of {total_amt}')
print(f' you have total quality of {total_qty}')

 you have to pay total amount of 60
 you have total quality of 5

In [55]:
def fibo(num):
    s=[0,1]
    for i in range(2,num):
        s.append(s[i-1] + s[i-2])
    return s

In [56]:
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [25]:
l=['tom','vam','shi','brad','peter']

In [26]:
for i in l:
    print(i.upper())
    if i=='brad':
        break
else:
    print('loop complete')

TOM
VAM
SHI
BRAD

In [27]:
for i in range (len(l)-1):
    print(l)

['tom', 'vam', 'shi', 'brad', 'peter']
['tom', 'vam', 'shi', 'brad', 'peter']
['tom', 'vam', 'shi', 'brad', 'peter']
['tom', 'vam', 'shi', 'brad', 'peter']

In [29]:
n=int(input('enter the number'))

fac=1

for i in range(1,n+1):
    fac=fac*i
print(f'fac is{fac}')

enter the number6
fac is720

In [30]:
n=int(input('enter'))
 
res = 0
for i in range (1,n+1):
    res= res + i
print(f'sum is {res}')

enter5
sum is 15

In [31]:
res = 0
for i in range(10,100):
    res=res+i
print(res)

4905

In [32]:
list(enumerate(l))

[(0, 'tom'), (1, 'vam'), (2, 'shi'), (3, 'brad'), (4, 'peter')]

In [40]:
name=input ("")

for i in enumerate(name):
    print(i)

fgj
(0, 'f')
(1, 'g')
(2, 'j')

In [41]:
l1=[1,2,4,5,6]

In [42]:
list(zip(l,l1))

[('tom', 1), ('vam', 2), ('shi', 4), ('brad', 5), ('peter', 6)]

In [44]:
list(zip(l,l1))

[('tom', 1), ('vam', 2), ('shi', 4), ('brad', 5), ('peter', 6)]

In [45]:
msg= input('enter ')
while (msg!= 'STOP'):
    msg= input("enter")
    print(msg)

enter run
enterleft
left
enterright
right
enterstop
stop
enterSTOP
STOP

In [49]:
num = int(input('enter '))

fac =1
n= num 

while (n>0):
    fac = fac * n 
    n= n - 1
print(f' factorial of {num} is {fac}')

enter 5
 factorial of 5 is 120

In [52]:
n=int(input("enter "))
fac = 1
while n>0:
    fac = fac * n
    n=n-1
print(f' the fac of {num} is {fac}')

enter 6
 the fac of 5 is 720

In [62]:
fac = 1
n=5
while n>0:
    fac=fac *n
    n=n-1
print(f' fac of {num} is {fac}')

 fac of 5 is 120

In [66]:
fac = 1
n = 5
for i in range(1,n-1):
    fac= fac * n
print(f'fac of {num} is {fac}')

fac of 5 is 125

In [69]:
n= 20
a,b=0,1
cou=1
while cou<=n:
    print(a)
    c=a+b
    a=b
    b=c
    cou = cou + 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [72]:
n=10
a,b=0,1
cou=1
while cou<=n:
    print(a)
    c=a+b
    a=b
    b=c
    cou=cou+1

0
1
1
2
3
5
8
13
21
34

In [1]:
n=17
i=1
while i<=20:
    print(f'{n} * {i} = ',n*i)
    i=i+1

17 * 1 =  17
17 * 2 =  34
17 * 3 =  51
17 * 4 =  68
17 * 5 =  85
17 * 6 =  102
17 * 7 =  119
17 * 8 =  136
17 * 9 =  153
17 * 10 =  170
17 * 11 =  187
17 * 12 =  204
17 * 13 =  221
17 * 14 =  238
17 * 15 =  255
17 * 16 =  272
17 * 17 =  289
17 * 18 =  306
17 * 19 =  323
17 * 20 =  340

In [10]:
n= int(input('enter the number '))
is_true = True 
if n<=1:
    print(f'{n} is not a prime number')
else:
    i=2
    while i<n:
        if n%i == 0:
            is_true = False
            break
        i=i+1
    if is_true:
        print(f'{n} is prime')
    else:
        print(f'{n} is non-prime')

enter the number 12
12 is non-prime

In [14]:
num= int(input('enter '))
max =int(input('enter '))
sqr = num ** 2
while sqr<max:
    print(f'{num} : {sqr}')
    num = num+1
    sqr = num**2

enter 23
enter 800
23 : 529
24 : 576
25 : 625
26 : 676
27 : 729
28 : 784

In [12]:
22*22

484

In [25]:
str = input('enter the string ')
word = str.split()
l=len(word)
for i in range (0,l):
    if i%2 == 0:
        word[i]=word[i].capitalize()
    else:
        word[i]=word[i][::-1]
encoded=' '.join(word)
print('the final string is', encoded)

enter the string csuvs dh hudihei hi hhieh
the final string is Csuvs hd Hudihei ih Hhieh

In [17]:
l=['sam','tom','harry','peter']

In [18]:

print(l)

['sam', 'tom', 'harry', 'peter']

In [19]:
for i in range(len(l)):
    print(i)

0
1
2
3

In [20]:
for i in range(len(l)):
    print(l[i])

sam
tom
harry
peter

In [26]:
def print1(n):
    for i in range(1,n+1):
        print(i)

In [27]:
print1(10)

1
2
3
4
5
6
7
8
9
10

In [36]:
def print2(n):
    print(n)
    print2(n+1)

In [31]:
print2(20)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990

RecursionError: maximum recursion depth exceeded while calling a Python object

In [44]:
def print2(n):
    if n == 10:
        return
    print('hello world')
    print2(n+1)

In [47]:
print2(1)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [49]:
def fact(n):
    fac = 1
    while n>0:
        fac = fac * n
        n = n - 1
    return fac

In [50]:
fact(5)

120

In [62]:
def sum_even(l):
    res = 0
    
    for i in l:
        if i%2==0:
            res = res + i
    return  res

In [63]:
sum_even([1,2,3,4,5,6,7,8,9,10])

30

In [69]:
def fac(n):
    if n<=1:
        return 1
    else:
        return n*fac(n-1)

In [72]:
fac(5)

120

In [82]:
def fib(n):
    if n ==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-1)+fib(n-2)

In [85]:
fib(10)

55

In [91]:
l=[1,2,4,5,7,9]

In [87]:
[i**2 for i in l]

[1, 4, 16, 25, 49, 81]

In [89]:
[i for i in l if i%2==0]

[2, 4]

In [90]:
[i for i in l if i%2!=0]

[1, 5, 7, 9]

In [96]:
[i for i in l if i**3]

[1, 2, 4, 5, 7, 9]

In [98]:
a=lambda x,y : x+y

In [100]:
a(10,11)

21

In [101]:
def pw(a,b):
    return a**b

In [102]:
pw(2,4)

16

In [105]:
b=lambda x,y : x*y

In [106]:
b(2,8)

16

In [107]:
c=lambda x,y:x+10

In [109]:
c(1,10)

11

In [110]:
age_plus=lambda x:x+10

In [111]:
age_plus(20)

30

In [114]:
a=lambda x,y : x if x>y else y

In [115]:
a(10,11)

11

In [120]:
l1=['sam','tom','paris','brad','peter']

In [118]:
list(map(sq,l))

NameError: name 'sq' is not defined

In [119]:
list(map(lambda x: x.upper(), l1))

NameError: name 'l1' is not defined

In [125]:
a = [1, 2, 3, 4]
b = [10, 11, 12, 13]

In [126]:
a.extend(b)

In [127]:
a

[1, 2, 3, 4, 10, 11, 12, 13]

In [138]:
a1 = [1, 2, 3, 4]
b1 = [10, 11, 12, 13]

In [142]:
res= []
for i in range(len(b)):
    res.append(a1[i]+b1[i])

In [143]:
res

[11, 13, 15, 17]

In [144]:
for i in res:
    print(i)

11
13
15
17

In [145]:
a=[x+y for x,y in zip(a,b)]

In [146]:
for i in a:
    print(i)

11
13
15
17

In [149]:
c=list[zip(a,b)]

list[<zip object at 0x10b4ebf80>]

In [151]:
import numpy as np

In [152]:
arr=np.array([1,23,5656,7])

In [153]:
print(arr)

[   1   23 5656    7]

In [154]:
type(arr)

numpy.ndarray

In [155]:
arr.ndim

1

In [156]:
arr

array([   1,   23, 5656,    7])

In [157]:
arr.shape

(4,)

In [158]:
np.fromfunction(lambda i,j:i*j,(3,3))

array([[0., 0., 0.],
       [0., 1., 2.],
       [0., 2., 4.]])

In [159]:
np.fromstring('234 567',sep =' ')

array([234., 567.])

In [160]:
np.arange(2,20,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [161]:
np.arange(2.5,20.5,2)

array([ 2.5,  4.5,  6.5,  8.5, 10.5, 12.5, 14.5, 16.5, 18.5])

In [162]:
np.linspace(1,5,10)

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [163]:
type(a)

list

In [164]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [167]:
np.eye(4,3,dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 0]])

In [170]:
np.random.randint(1,20,(3,3))

array([[14, 16, 11],
       [10,  2,  1],
       [ 8, 10,  2]])

In [172]:
np.random.randint(50)

2

In [173]:
np.random.randn(3,3)

array([[-0.56467723,  0.50563297, -0.95727125],
       [ 0.60170081, -2.49188836,  0.4571593 ],
       [-0.67957357,  0.70253576,  0.04382509]])

In [178]:
np.random.randint(1,200,(3,3))

array([[121,  19, 173],
       [ 54, 123, 102],
       [ 85,  51, 147]])

In [1]:
import numpy as np

In [8]:
a=np.array([1, 2], [3, 4])
b=np.array([5, 6] ,[7, 8])
c=np.dot(a,b)
print("dot_product: ", c)

TypeError: Field elements must be 2- or 3-tuples, got '3'

In [10]:
a=np.array([[1, 2], [3, 4]])
b=np.array([[5, 6] ,[7, 8]])
c=np.dot(a,b)
print("dot_product: ", c)

dot_product:  [[19 22]
 [43 50]]

In [11]:
import numpy as np

In [12]:

np.sort([[5,6,7,4], [9,2,3,7]])

array([[4, 5, 6, 7],
       [2, 3, 7, 9]])

In [28]:
import pandas as pd

In [35]:
df=pd.read_csv('Services.csv')
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [37]:
df.fillna('vam')

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,vam,vam,vam,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",vam,...,vam,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",vam,Fair Oaks Adult Activity Center,vam,Colma,active,No wait.,vam,vam
1,2,2,vam,vam,vam,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",vam,...,vam,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",vam,Second Career Employment Program,vam,San Mateo County,active,Varies.,vam,vam
2,3,3,vam,vam,vam,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,vam,...,vam,"Geriatric Counseling, Older Adults, Gay, Lesbi...",vam,Senior Peer Counseling,vam,San Mateo County,active,Varies.,vam,vam
3,4,4,vam,vam,vam,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,vam,...,vam,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",vam,Family Visitation Center,vam,San Mateo County,active,No wait.,vam,vam
4,5,5,vam,vam,vam,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,vam,...,vam,"COMMUNITY SERVICES, Speakers, Automobile Loans",vam,Economic Self-Sufficiency Program,vam,San Mateo County,active,vam,vam,vam
5,6,6,vam,vam,vam,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,vam,...,vam,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",vam,Little House Recreational Activities,vam,San Mateo County,active,No wait.,vam,vam
6,7,7,vam,vam,vam,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,vam,...,vam,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",vam,Rosener House Adult Day Services,vam,"Belmont, Burlingame, East Palo Alto",active,No wait.,vam,vam
7,8,8,vam,vam,vam,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,vam,...,vam,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",vam,Meals on Wheels - South County,vam,"Belmont, East Palo Alto",active,No wait.,vam,vam
8,9,9,vam,vam,vam,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,vam,...,vam,"EDUCATION SERVICES, Library, Libraries, Public...",vam,Fair Oaks Branch,vam,San Mateo County,active,No wait.,vam,vam
9,10,10,vam,vam,vam,Walk in. Proof of California residency to rece...,vam,"Provides general reading and media materials, ...",Resident of California to obtain a card,vam,...,vam,"EDUCATION SERVICES, Library, Libraries, Public...",vam,Main Library,vam,San Mateo County,active,No wait.,vam,vam
10,11,11,vam,vam,vam,Walk in. Proof of California residency require...,vam,"Provides general reading materials, including ...",Resident of California to obtain a library car...,vam,...,vam,"EDUCATION SERVICES, Library, Libraries, Public...",vam,Schaberg Branch,vam,San Mateo County,active,No wait.,vam,vam
11,12,12,vam,vam,vam,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,vam,...,vam,"EDUCATION SERVICES, Adult, Alternative, Litera...",vam,Project Read,vam,Daly City,active,Depends on availability of tutors for small gr...,vam,vam
12,13,13,vam,vam,vam,Walk in. Proof of California residency require...,vam,"Provides general reading materials, including ...",Resident of California to obtain a library card,vam,...,vam,"EDUCATION SERVICES, Library, Libraries, Public...",vam,Redwood Shores Branch,vam,San Mateo County,active,No wait.,vam,vam
13,14,14,vam,vam,vam,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,vam,...,vam,"COMMUNITY SERVICES, Interpretation/Translation...",vam,Redwood City Corps,vam,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,vam,vam
14,15,15,vam,vam,vam,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",vam,...,vam,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",vam,Adult Rehabilitation Center,vam,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,vam,vam
15,16,16,vam,vam,vam,"Walk in. Written application, identification r...",vam,Provides emergency assistance including food a...,None for emergency assistance,vam,...,vam,"COMMODITY SERVICES, Clothing/Personal Items, C...",vam,Sunnyvale Corps,vam,vam,active,No wait.,vam,vam
16,17,17,vam,vam,vam,Call for information.,vam,"Provides emergency food, clothing and furnitur...",Low-income families,vam,...,vam,"COMMODITY SERVICES, Clothing/Personal Items, C...",vam,South San Francisco Citadel Corps,vam,"Colma, Daly City, South San Francisco",active,vam,vam,vam
17,18,18,vam,vam,vam,Call for screening appointment. Medical visits...,vam,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,vam,...,vam,"HEALTH SERVICES, Outpatient Care, Community Cl...",vam,Project Smile,vam,East Palo Alto,active,Varies.,vam,vam
18,19,19,vam,vam,vam,Call for screening appointment (650-347-3648).,vam,Provides free medical and dental care to those...,Low-income person without access to health care,vam,...,vam,"HEALTH SERVICES, Outpatient Care, Community Cl...",vam,San Mateo Free Medical Clinic,vam,"Belmont, Burlingame",active,Varies.,vam,vam
19,20,20,vam,vam,vam,Walk in.,vam,no unrequired fields for this service,vam,vam,...,vam,vam,vam,Service with blank fields,vam,vam,defunct,vam,vam,vam
20,21,21,vam,vam,vam,By phone during business hours.,vam,just a test service,vam,vam,...,vam,vam,vam,Service for Admin Test Location,vam,San Mateo County,inactive,vam,vam,vam
21,22,22,vam,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,vam,vam,vam,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,vam,...,vam,"Ruby on Rails/Postgres/Redis, testing, wic",vam,Example Service Name,vam,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,vam

In [42]:
df.groupby('program_id').sum()

/var/folders/v_/2qrj34pn52s9xrglq6lq3hd80000gn/T/ipykernel_2378/1481549033.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('program_id').sum()

Empty DataFrame
Columns: [id, location_id]
Index: []

In [43]:
import pandas as pd

In [44]:
data1=pd.dataframe({'key1': })

SyntaxError: expression expected after dictionary key and ':' (1741266362.py, line 1)

In [45]:
import time

In [51]:
time.ctime()

'Sun Oct 15 15:46:42 2023'

In [64]:
x=time.strftime('%d/%m/%y, %H:%M:%S')

In [65]:
print(x)

15/10/23, 15:49:14

In [67]:
import datetime

In [68]:
print(datetime.datetime(2019,5,10,3,45,56))

2019-05-10 03:45:56

In [72]:
v=datetime.date.today()

In [73]:
print(v)

2023-10-15

In [74]:
td=datetime.timedelta(10)

In [75]:
print(v+td)

2023-10-25

In [76]:
import re

In [77]:
nameage='peter is 21 and mad is 30 and sam is 24'

In [78]:
agedict={}
x=0 
for eachname in names:
    agedict[eachname]=ages[0]
    x+=1
print(agedict)

NameError: name 'names' is not defined

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('mtcars - mtcars (1).csv')

FileNotFoundError: [Errno 2] No such file or directory: 'mtcars - mtcars (1).csv'

In [7]:
class Animal:
    pass

In [8]:
animal=Animal()

In [9]:
print(type(animal))

<class '__main__.Animal'>

In [17]:
class Animal:
    
    def set_identity(self,name):
        self.name=name
    def set_breed(self, breed):
        self.breed=breed

In [18]:
animal=Animal()

In [19]:
animal.set_identity('dog')

In [20]:
animal.name

'dog'

In [22]:
animal.set_breed('lab')

In [23]:
animal.breed

'lab'

In [27]:
class car:
    def __init__(self,year,make,model,speed):
        self.Year=year
        self.Make=make
        self.Model=model
        self.Speed=speed

In [28]:
car_obj=car(2023,'toyota','ford',120)

In [33]:
car_obj.Year

2023

In [4]:
str1=input("enter the text ")
word=str1.split()
l=len(word)

for i in range(0,l):
    if i%2==0:

SyntaxError: incomplete input (3194546205.py, line 7)

In [5]:
l=['tom','brad','peter','vam','shi']

In [7]:
for i in l:
    print(i.upper())
    if i=='peter':
        break
else:
    print('i would get executed')

TOM
BRAD
PETER

In [8]:
age=int(input("enter your age"))
if age<18:
    print("you r a kid")
else:
    print('you r adult')

enter your age22
you r adult

In [10]:
n=int(input("enter the number "))
fac1=1
for i in range(1,n+1):
    fac1=fac1*i
print(f'the factorial is {fac1}')

enter the number 5
the factorial is 120

In [12]:
r=0
for i in range(10,100):
    r=r+i
print(r)

4905

In [15]:
s1=input('enter the word ')
for i in enumerate(s1):
    print(i)

enter the word vamshi
(0, 'v')
(1, 'a')
(2, 'm')
(3, 's')
(4, 'h')
(5, 'i')

In [33]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [34]:
msg=input('enter the key')
while (msg!='stop'):
    msg=input('enter the key')
    print(msg)

enter the keyright
enter the keyleft
left
enter the keyright
right
enter the keystop
stop

In [36]:
word=input('enter ')
if word==word[ : : -1]:
    print(f'{word} is a palindrome')
else:
    print(f'{word} is not a palindrome')

enter vamshi
vamshi is not a palindrome

In [41]:
def is_prime(n):
    if n<=1:
        return f'{n} is not prime'
    else:
        for i in range(2,n):
            if n%i==0:
                return f'{n} is not a prime'
        return f'{n} is prime'

In [42]:
is_prime(3)

'3 is prime'